<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'default.html' %}

<!-- Название у нас будет Posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все статьи -->
{% block content %}
<h1 style="text-align: center;">Все статьи</h1>
<hr>
    {% if posts %}
    <table align="center" cellspacing="10" border="1" cellpadding="15">
        <tr align="center">
<!--            <td>Категории</td>-->
            <td width="30">Рейтинг</td>
            <td width="100">Автор</td>
            <td width="200">Дата</td>
            <td width="400">Заголовок</td>
            <td>Содержание</td>
        </tr>
        {% for post in posts %}
        <tr align="center">
<!--            <td>{{ post.categories }}</td>-->
            <td width="30">{{ post.rating }}</td>
            <td width="100">{{ post.authorID.userID.last_name }} {{ product.authorID.userID.first_name }}</td>
            <td width="200">{{ post.createdAt|date:'d.m.Y H:n:s' }}</td>
            <td width="400">{{ post.heading }}</td>
            <td>{{ post.content|truncatechars:100 }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3 style="text-align: center;">Нет статей</h3>
    {% endif %}
{% endblock content %}